<!DOCTYPE html>
<html lang="vi">
<head>
<meta charset="UTF-8">
<title>Điều chỉnh</title>
<link rel="stylesheet" href="../static/portrait.css">
</head>

<body>

<nav class="navbar">
    <div class="nav-logo">🎨 AI Art Grader</div>

    <ul class="nav-menu">
        <li><a href="/">Trang chủ</a></li>
        <li><a href="/adjustment">Điều chỉnh</a></li>
        <li><a href="#">Lịch sử</a></li>
        <li><a href="#">Giới thiệu</a></li>
    </ul>
</nav>

<div class="main-card">

<h2>Điều chỉnh mức trừ điểm</h2>

<label>Mức độ trừ điểm</label>

<input type="range" min="1" max="2" value="1" step="0.2" id="penalty">

<p>Mức hiện tại: <span id="value"></span></p>

</div>
<script>
const slider = document.getElementById("penalty");
const value = document.getElementById("value");

/* hàm đổi text */
function getLevelText(v){
    if(v == 2) return "cực khó";
    if(v == 1.8) return "khó";
    if(v == 1.6) return "trung bình";
    if(v == 1.4) return "trung bình dễ";
    if(v == 1.2) return "dễ";
    if(v == 1) return "cực dễ";
}

/* load lại giá trị đã lưu */
let saved = localStorage.getItem("penalty");

if(saved){
    slider.value = saved;
    value.innerText = getLevelText(saved);
}else{
    value.innerText = getLevelText(slider.value);
}

/* khi kéo slider */
slider.oninput = function(){
    value.innerText = getLevelText(this.value);
    localStorage.setItem("penalty", this.value);
}
</script>
</body>
</html>